@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');


.homemain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

/*Main content in the middle */

.maincon {
    width: 65%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Agdasima', sans-serif;
    color: #b868b4;
    gap: 20px;
    
    
}

.con {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}

.con h1 {
    font-size: 35px;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headers a {
    color:#b868b4;
    transition: 0.3s;
}

.headers a:hover {
    text-decoration: underline;
    color: white;
}


.news {
    display: flex;
    flex-direction: row;
    height: 300px;
    min-height: 300px;
    width: 100%;
    background-color: rgb(39, 1, 26);
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    cursor: pointer;
    
}

.news section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s; 
}

.news:hover .textsection {
    background-color: rgba(255, 255, 255, 0.2);
}

.textdivide1 {
    
    height: 20%;
    width: 90%;
    
    
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #b868b4;
    
}

.textdivide2 {
    color:white;
    height: 80%;
    width: 90%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    
}

.articlepic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*Side content */

.homeside1 {
    width: 15%;
    height: 100%;
    
}

.homeside2 {
    width: 20%;
    height: 100%;
    background-color: rgb(65, 3, 42);
    box-shadow: 0px 3px 10px black;
}

/* Media queries */


@media only screen and (max-width: 1000px) {
    .textdivide2 h1{
      font-size: 1.8em;
    }

    .homemain {
        align-items: center;
        justify-content: center;
    }

    .maincon {
        width: 90%;
    }

    .homeside1 {
        display: none;
    }
    .homeside2 {
        display: none;
    }
  }

  @media only screen and (max-width: 1200px) {
    

    .maincon {
        width: 90%;
    }

    .homeside1 {
        width: 10%;
    }
    .homeside2 {
        width: 0%;
    }
  }
