@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');


.homemain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

/*Main content in the middle */

.maincon {
    width: 65%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Agdasima', sans-serif;
    color: #cf7ecb;
    gap: 20px;
    
    
}

.con {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}

.con h1 {
    font-size: 35px;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headers a {
    cursor: pointer;
    color: #cf7ecb;
    transition: 0.3s;
}

.headers a:hover {
    text-decoration: underline;
    color: white;
}


.news {
    display: flex;
    flex-direction: row;
    height: 300px;
    min-height: 300px;
    width: 100%;
    background-color: rgb(39, 1, 26);
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    cursor: pointer;
    
}

.imgsection {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s; 
}
.textsection {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s; 
}

.news:hover .textsection {
    background-color: rgba(255, 255, 255, 0.2);
}

.textdivide1 {
    
    height: 20%;
    width: 90%;
    
    
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #cf7ecb;
    
}

.textdivide2 {
    color:white;
    height: 80%;
    width: 90%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    
}

.articlepic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Newsletter */

.newsLetterMain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    min-height: 250px;
    width: 100%;
    background-color: rgb(39, 1, 26);
    box-shadow: 0px 3px 10px rgb(0, 0, 0); 
}

.newsLetter {
    height: 90%;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
}

.newsLetterSection1 {
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #cf7ecb;
}

.newsLetterSection2 {
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.newsLetterSection2 form{
    width: 50%;
}

input[type=email] {
    height: 35px;
    width: 100%;
    border: 0;
    font-family: 'Agdasima', sans-serif;
    font-size: 19px;
    color: rgb(39, 1, 26);
    background-color: #cf7ecb;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    
}
input[type=email]:focus {
   outline: none;
   border: 2px solid rgb(81, 9, 58);
}
input[type=email]::placeholder {
    color: rgb(39, 1, 26);
    opacity: 0.6;
 }

input[type=submit] {
    height: 35px;
    width: 30%;
    border: 0;
    font-family: 'Agdasima', sans-serif;
    font-size: 19px;
    color: white;
    background-color: rgb(81, 9, 58);
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    cursor: pointer;
}
input[type=submit]:hover {
    opacity: 0.7;
}



/*Side content */

.homeside1 {
    width: 15%;
    height: 100%;
    
}

.homeside2 {
    width: 20%;
    height: 100%;
    background-color: rgb(65, 3, 42);
    box-shadow: 0px 3px 10px black;
}

/* Media queries */




@media only screen and (max-width: 1000px) {

    
    .homemain {
        align-items: center;
        justify-content: center;
    }

    .maincon {
        width: 90%;
    }

    .homeside1 {
        display: none;
    }
    .homeside2 {
        display: none;
    }

  .news {
    
    flex-direction: column;
    
    
    }
    .imgsection {
        
        height: 60%;
        width: 100%;
    
    }
    .textsection {
        
        height: 40%;
        width: 100%;
        
    }

    .textdivide1 {
    
        height: 30%;
        width: 90%;
        
    }
    
    .textdivide2 {
       
        height: 70%;
        width: 90%;
    
    }

    .textdivide1 h2{
        font-size: 1.1em;
      }
    .textdivide2 h1{
        font-size: 1.5em;
    }

    .newsLetter h1{
        font-size: 1.5em;
    }

}

  @media only screen and (max-width: 1200px) {
    

    .maincon {
        width: 90%;
    }

    .homeside1 {
        width: 10%;
    }
    .homeside2 {
        width: 0%;
    }
  }
