@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');

.navbar {
    
    width: 100%;
    min-width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Agdasima', sans-serif;
    z-index: 4;
}

.n1 {
    height: 100px;
    position: sticky;
    top: 0px;
    background-color: rgb(65, 3, 42);
    font-size: 20px;
    box-shadow: 0px 3px 10px black;
}

.n2 {
    display: none;
    height: 60px;
    background-color: rgb(52, 2, 34);
    position: sticky;
    top: 0px;
    font-size: 18px;
    box-shadow: 0px 3px 10px black;
    color: #cf7ecb;
}

.logonavsec {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 2;
}

.smallnavsec {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 2;
}

.signInSec {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 2;
    
}

.signInSec a{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#b868b4;
    transition: 0.3s;
}

.signInSec a:hover{
    background-color: rgba(5, 0, 0, 0.5);
}

.navsection {
    display: flex;
    height: 100%;
    width: 70%;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.n2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80%;
    transition: 0.3s;
}

.n1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cf7ecb;
    height: 80%;
    transition: 0.3s;
}

.n2 a:hover { 
    cursor: pointer;
    text-decoration: underline #cf7ecb;
    color: #cf7ecb;  
}
.n1 a:hover { 
    cursor: pointer;
    text-decoration: underline white;
    color: white;  
}


.logo1 {
    height: 100px;
    width: auto;
    
    transition: 0.2s;
    cursor: pointer;
} 

.logo2 {
    width: 100%;
    
} 

.forumicon {
    height: 70%;
    width: auto;
    padding-left: 1em;
}


/* Socials links */

.navSocials {
    align-self: flex-start;
    display: flex;
    height: 100%;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    
}

.navSocials a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 47px;
    transition: 0.2s;
    border-radius: 9px;
}

.navSocials a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navImg {
    height: 60%;
    width: auto;
    opacity: 0.7;
    background-color: #cf7ecb;
    border-radius: 8px;
}

/*Mobile Nav */


.mobilenav {
    overflow-y: hidden;
    display: none;
    min-height: 80px;
    height: 80px;
    width: 100%;
    background-color: rgb(39, 1, 26);
    box-shadow: 0px 3px 10px black;
    
    top: 0px;
    z-index: 3;
    
    

}

.mobileNavSec1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.mobileNavSec2 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobileMenuIcon {
    height: 70%;
    width: 20%;
    padding-right: 1em;
    cursor: pointer;
}


.mobileLogo1 {
    height: 90%;
    padding-left: 1em;
}
.mobileLogo2 {
    height: 80%;
    
}

.mobileMenu {
    
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    color: #cf7ecb;
    background-color: rgb(39, 1, 26);
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    font-family: 'Agdasima', sans-serif;
    font-size: 23px;
    z-index: 2;
    
}

.mobileMenuSec0 {
    height: 12%;
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mobileMenuSec1 {
    height: 13%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.mobileMenuSec1 a{
    padding-left: 2em;
    cursor: pointer;
    
}

.mobileMenuSec1:after {
    content: "";
    align-self: center;
    width: 90%;
    border-bottom: 2px solid #cf7ecb;
}

.mobileMenuSec1 form{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 35px;
    width: 60%;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
}

input[type=text] {
    height: 100%;
    width: 70%;
    font-family: 'Agdasima', sans-serif;
    font-size: 19px;
    color: rgb(39, 1, 26);
    background-color: #cf7ecb;
    border: none;
    
}
input[type=text]:focus {
   outline: none;
   
}
input[type=text]::placeholder {
    color: rgb(39, 1, 26);
    opacity: 0.6;
 }

 button[type=submit] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    border: 0;
    font-family: 'Agdasima', sans-serif;
    font-size: 19px;
    color: white;
    background-color: rgb(81, 9, 58);
    
    cursor: pointer;
}
button[type=submit]:hover {
    opacity: 0.7;
}

.mobileMenuSec2 {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    
}

.mobileMenuSec2 p{
    padding-left: 1em;
    
}

.mobileMenuSec2 a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    padding-left: 3.5em;
    height: 17%;
    width: 100%;
    
}

.mobileMenuSec2 a:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    
}


.mobileIcon {
    height: 70%;
}

/*Media queries */



@media only screen and (max-width: 1300px) {
    .logo1 {
      display: none;
    }
    .navSocials {
        display: none;
    }
  }

  @media only screen and (max-width: 800px) {
    .navbar {
        display: none;
    }
    .mobilenav {
        display: flex;
    }
  }