@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');

.navbar {
    
    width: 100%;
    min-width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Agdasima', sans-serif;
    
}

.n1 {
    height: 100px;
    border-bottom: 1px solid white;
    background-color: rgb(65, 3, 42);
    font-size: 20px;
    box-shadow: 0px 3px 10px black;
}

.n2 {
    height: 60px;
    background-color: rgb(52, 2, 34);
    position: sticky;
    top: 0px;
    font-size: 18px;
    box-shadow: 0px 3px 10px black;
}

.logonavsec {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 2;
}

.smallnavsec {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 2;
}

.signInSec {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 2;
    
}

.signInSec a{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#b868b4;
    transition: 0.3s;
}

.signInSec a:hover{
    background-color: rgba(5, 0, 0, 0.5);
}

.navsection {
    display: flex;
    height: 100%;
    width: 70%;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.navsection a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80%;
    transition: 0.3s;
    
    
}

.navsection a:hover { 
    cursor: pointer;
    text-decoration: underline #b868b4;
    color: #b868b4;
    
     
}


.logo1 {
    height: 100px;
    width: auto;
    
    transition: 0.2s;
    cursor: pointer;
} 

.logo2 {
    width: 100%;
    
} 

.forumicon {
    height: 70%;
    width: auto;
    padding-left: 1em;
}


/* Socials links */

.navSocials {
    align-self: flex-start;
    display: flex;
    height: 100%;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    
}

.navSocials a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 47px;
    transition: 0.2s;
    border-radius: 9px;
}

.navSocials a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navImg {
    height: 60%;
    width: auto;
    opacity: 0.7;
    background-color: #b868b4;
    border-radius: 8px;
}

/*Mobile Nav */

.mobilenav {
    display: none;
    height: 80px;
    width: 100%;
    background-color: rgb(39, 1, 26);
    box-shadow: 0px 3px 10px black;
    position: sticky;
    top: 0px;
    

}

.mobileNavSec1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.mobileNavSec2 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobileMenuIcon {
    height: 70%;
    width: 20%;
    padding-right: 1em;
    cursor: pointer;
}

.mobileLogo1 {
    height: 90%;
    padding-left: 1em;
}
.mobileLogo2 {
    height: 90%;
    
}

/*Media queries */



@media only screen and (max-width: 1300px) {
    .logo1 {
      display: none;
    }
    .navSocials {
        display: none;
    }
  }

  @media only screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
    .mobilenav {
        display: flex;
    }
  }