@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap');

.sidebar {
    
    width: 100px;
    height: 100%;
    min-height: 700px;
    background-color: rgb(39, 1, 26);
    font-family: 'Agdasima', sans-serif;
    position: fixed;
    top: 0px;
    transition: 0.4s;
    z-index: 5;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    box-shadow: 0px 3px 10px black;
    

}

.sidebar2 {
    
    width: 300px;
    height: 100%;
    min-height: 700px;
    background-color: rgb(39, 1, 26);
    font-family: 'Agdasima', sans-serif;
    position: fixed;
    top: 0px;
    transition: 0.4s;
    z-index: 5;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 3px 10px black;
    
    

}

.logoSection {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    
    
}

.sidebarsection {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    
}

.sidebarsection:before {
    content: "";
    align-self: center;
    
    width: 70%;
    
    border-bottom: 1px solid white;
    
}

.sidebarsection:after {
    content: "";
    align-self: center;
    
    width: 70%;
    
    border-bottom: 1px solid white;
    
}

.sidebarsection a {
    
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    
}

.iconsection {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;

}

.sidelink {
    cursor: pointer;
    transition: 0.2s;
}

.sidelink p {
    display: flex;
    width: 50%;
    
}

.sidelink:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebaricon {
    display: flex;
    width: 4em;
    height: auto;
    
}

.sideBarCloseBtn {
    
    width: 13%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.sideBarCloseBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sideBarOpenBtn {
    
    width: 60%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.sideBarOpenBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menuIcon {
    width: 100%;
    height: auto;
    
}


.sidelogo {
    padding-top: 1em;
    width: 100%;
    height: auto;
    
}



/* Submenus on hover */

.submenu1 {
    position: absolute;
    width: 200px;
    height: 100%;
    left: 100%;
    top: 0;
    background-color: rgb(39, 1, 26);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    box-shadow: 0px 3px 10px black;
}

.submenu1 a {
    width: 100%;
    height: 100%;
}

.submenu1 a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.submenu2 {
    position: absolute;
    width: 200px;
    height: 100%;
    left: 100%;
    top: 0;
    background-color: rgb(39, 1, 26);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    box-shadow: 0px 3px 10px black;
}

.submenu2 a {
    width: 100%;
    height: 100%;
}

.submenu2 a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* Footer */

.sideFooter {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.footerSection {
    display: grid;
    height: 75%;
    width: 70%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(52, 2, 34);
    border-radius: 5px;
    
}

.footerSection a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.2s;
}

.footerSection a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.footerImg {
    width: 35%;
    height: auto;
    opacity: 0.7;
    background-color: #cf7ecb;
    background-size: contain;                     
    border-radius: 8px;
}

/* Media queries */

@media only screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }

    .sidebar2 {
        display: none;
    }
  }