html, body {width: auto!important; overflow-x: hidden!important} 

body {
    background-color: rgb(81, 9, 58);
    margin: 0;
    padding: 0;
    
}

.maincontainer {
    
    display: flex;
    margin: 0;
    padding: 0;
    
    justify-content: space-between;
}

.maindisplay {
    
    margin-left: auto;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.artic {
    height: 1100px;
}



a {
    text-decoration: none;
}
