html, body {height: 100%; width: auto!important; overflow-x: hidden!important} 

body {
    background-color: rgb(81, 9, 58);
    margin: 0;
    padding: 0;
    
}

.maincontainer {
    
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 1950px;
    justify-content: space-between;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.maindisplay {
    
    margin-left: auto;
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    position: relative;
}

.artic {
    height: 1100px;
}



a {
    text-decoration: none;
}
